

.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;/*3 columnas de 200px*/
    grid-template-rows: 200px 200px 200px;/*3 filas de 200px*/
}

.grid div{
    border: 1px solid black; 
}